@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    }

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

main {
    padding: 16px;
    margin-bottom: 100px;
}

footer {
    padding: 48px 20px;
    /* position: absolute; */
    bottom: 0;
    background-color: rgb(146, 205, 84)
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: orangered;
    font-weight: bold;
    color: white;
}

a:hover {
    background-color: rgb(81, 223, 81);
}

a {
    text-decoration: none;
}

.taco-grid {
    display: grid;
    grid-template-columns: repeat(4, auto)

}

img {
    height: 200px;
    width: 200px;
}
